body,
html {
    margin: 0;
    padding: 0;
    font: 14px 'Segoe UI Semibold';
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}